.nurseryD-learning-path {
  position: relative;
  min-height: 100vh;
  height: auto;
  background-image: url(../../assets/nbg2.png);
  background-size: cover;
  overflow-y: auto; 
  padding-bottom: 200px; 
  background-repeat: no-repeat;
  background-position: center top;
}

.nurseryD-path-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
  pointer-events: none; 
}

.nurseryD-lesson {
  position: absolute;
  transform: translate(-50%, -20%);
  width: 200px;
  height: 200px;
  border: 0;
  background: #d4e083;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 2;
}
.nurseryD-lesson-img {
  width: 180px;
  height: 180px;
  border-radius: 16px;
  object-fit: cover;
}

.nurseryD-duck {
  left: -7%;
position: absolute;
  background-image: url(../../assets/monkey.png);
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
  z-index: 1;
animation: bounce 1.4s infinite;
}
@keyframes bounce {
  0%, 100% {
    top: 0; 
    animation-timing-function: ease-out; 
  }
  50% {
    top: 20px; 
    animation-timing-function: ease-in; 
  }
}
.nurseryD-cart {
top: 60%;
left: 85%;
  width: 400px;
  height: 400px;
  position: sticky;
  z-index: 1;

}

.nurseryD-lesson-label {
  position: absolute;
  bottom: 70px;
  left: 60px;
  font-weight: 700;
  font-size: 14px;
  font-family: poppins;
  color: #000000;
  padding: 15px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 420px) {
  .nurseryD-lesson {
    width: 104px;
    height: 104px;
  }
  .nurseryD-lesson-img {
    width: 80px;
    height: 80px;
  }
}
.nurseryD-bp-back {
  position: absolute;
  top: 2%;
  left: 2%;
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
 font-family: "Fredoka", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    z-index: 999;          
  pointer-events: auto;   
}
.nurseryD-bp-back:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}
.nurseryD-bp-back:active {
  transform: scale(1.025);
}
