.container {
  display: flex;
}

.leftContainer {
  margin-right: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-btn {
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
